{{>partials/beggin}}

    <div class="columns dashboard">
        <aside class="column is-one-fifth menu">

            <div class="navbar-brand logo">
                <a class="menu-label" href="/">
                  <img src="/img/logo.jpg" alt="Painel de Controle">
                </a>
            
            </div>

            <p class="menu-label">
                Painel de Controle
            </p>
            <ul class="menu-list">
              <li><a href="team">
                <span class="icon">
                    <i class="fas fa-address-card"></i>
                  </span>
                  Colaboradores</a></li>
              <li><a href="galery" class="is-active">
                <span class="icon">
                    <i class="fas fa-image"></i>
                  </span>
                  Galeria</a></li>
              <li><a href="portal">
                <span class="icon">
                    <i class="fas fa-rss"></i>
                  </span>
                  Portal</a></li>
            </ul>
                
        </aside>

        <div class="column dash-content">

            {{>partials/navdash}}


              <div class="section is-small">
                <div class="columns">
                  <div class="column">
                    <p class="title">Funcionários</p>
                    <p class="subtitle is-6">6 Resultados encontrados</p>
                  </div>
                  <div class="column is-one-quarter">
                    <form action="#" method="get" class="selection searchForm">
                      <div class="control">
                        <div class="select is-small">
                          <select>
                            <option value="Teste" disabled selected>Filtros</option>
                            <option>With options</option>
                            <option>With options</option>
                            <option>With options</option>
                            <option>With options</option>
        
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <button class="button is-link is-small">Buscar</button>
                      </div>
                    </form>
                  </div>
        </div>
        
        <div class="box columns scroll">
          {{#gal}}
          <div class="column">

            <header class="card-header">
              <p class="card-header-title">
                {{name_img}}
              </p>
            </header>

            <div class="card-image">
              <figure class="image">
                <img src="" alt="Placeholder image">
              </figure>
          </div>
          
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
          </footer>
          </div>
          {{/gal}}
        </div>
              </div>

        </div>
    </div>

{{>partials/end}}
