{{>partials/beggin}}
      {{>partials/header}}

<section class="container">

  <div class="container_h">
    <section class="section is-medium">
        <h1 class="title">Nossa História</h1>
        <h2 class="subtitle">
         Plantando sementes e colhendo sonhos
        </h2>
    </section>
  </div>
    
<section class="section is-medium">

    <h1 class="title">Long Title</h1>

      <div class="columns">

        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">John Smith</p>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                   
                  </div>
                  <div class="buttons">
                    <a class="button is-white">
                      <strong>Botão 1</strong>
                    </a>
                  </div>
              </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">John Smith</p>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                   
                  </div>
                  <div class="buttons">
                    <a class="button is-white">
                      <strong>Botão 1</strong>
                    </a>
                  </div>
              </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">John Smith</p>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                   
                  </div>
                  <div class="buttons">
                    <a class="button is-white">
                      <strong>Botão 1</strong>
                    </a>
                  </div>
              </div>
        </div>

      </div>

    </section>


    <section class="section is-medium">

        <h2 class="subtitle">
            Tagline
          </h2>

        <h1 class="title">Long Title</h1>

        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
          </h2>
          <div class="columns">
    
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-48x48">
                    <!--Imagem-->                  
                </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">John Smith</p>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                       
                      </div>
                     
                  </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-48x48">
                    <!--Imagem-->                  
                </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">John Smith</p>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                       
                      </div>
                     
                  </div>
            </div>
            
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-48x48">
                    <!--Imagem-->                  
                </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">John Smith</p>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                       
                      </div>
                     
                  </div>
            </div>
    
          </div>
          <div class="buttons">
            <a class="button is-white">
              <strong>Botão 1</strong>
            </a>
            <a class="button is-light">
              Botão 2
            </a>
          </div>
        </section>




</section>

{{>partials/footer}}
{{>partials/end}}