{{>partials/beggin}}
      {{>partials/header}}

<section>

  <div class="history">
    <section class="section is-medium historyHero">
        <h1 class="title" style="color:white">
          <strong>Nossa História</strong>
        </h1>
          <br>
        <h2 class="subtitle">
         <strong style="color:white">Plantando sementes e colhendo sonhos</strong>
        </h2>
    </section>
  </div>
    
  <section class="container section is-medium">
    <h1 class="title" style="color: #FA8700;">
      <strong> Projeto Aprender & Sonhar tem o objetivo de promover o acesso
      e aprendizado da língua inglesa, musicalidade e atividades artísticas para crianças
      e adolescentes.</strong>
    </h1>
  </section>


  <section class="hero journey">

    <div class="section is-medium">
    <div class="columns">
      <div class="column is-one-third">
        <h1 class="title">Quem 
          somos nessa jornada?</h1>
      </div>

      <div>
        <h2 class="subtitle">
        Com a finalidade de oferecer acesso e oportunidade as crianças e adolescentes com a idade entre 7 e 17 anos em situação social vulnerável, 
        o Projeto Sonhar iniciou suas atividades em maio de 2012., atualmente contamos com 40 crianças/adolescentes. 
        Acreditamos que somente através da educação podemos contribui 
        para uma sociedade melhor e dedicamos nossos esforços para que as crianças das comunidades tenham o direito de sonhar 
        sem se preocupar com sua condição social.
      </h2>
    </div> 
  </div>
  </div>
  </section>





</section>

{{>partials/footer}}
{{>partials/end}}