   
   
   {{>partials/header}}
   


   <section class="container">



   <section class="section is-medium">
    <h1 class="title">Medium section</h1>
    <h2 class="subtitle">
      A simple container to divide your page into sections, like the one you're currently reading.
    </h2>

    <div class="buttons">

        <a class="button is-white">
          <strong>Botão 1</strong>
        </a>
        <a class="button is-light">
          Botão 2
        </a>

      </div>
  </section>
        

  <section class="section is-medium">

    <h1 class="title">Galeria de Imagens</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
    </h2>


    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                   <!--Imagem-->
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                 
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>

      </div>

 <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                     <!--Imagem-->                  
                    </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>

      </div>

      
    </section>



</section>
    {{>partials/footer}}