   
      {{>partials/beggin}}
      {{>partials/header}}
   


   <section class="container">

    <div class="img1">
      <section class="section is-medium">
        <h1 class="title">Projeto Aprender e Sonhar</h1>
        <br>
        <h2 class="subtitle">
          Sozinhos essa missão seria impossível, mas JUNTOS? A gente TRANSFORMA realidades.
        </h2>

        <div class="buttons">

          <button class="button is-active" style="background-color:#FA8700">
            Apoie
          </button>
        <a class="button is-black">
          Conheça a nossa história
        </a>

      </div>
      </section>
  </div>

  <section class="section is-medium">
    <div class="title_a">
      <h1 class="title" style="color:#FA8700"> Nossos Alunos</h1>
        <br>
      <h2 class="subtitle" style="color: #81C5C0">
        Se podemos sonhar, poderemos tornar os sonhos realidade
      </h2>
      <br>
    </div>



    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                   <img src="/img/projetoAprenderSonhar_Menino.jpeg">
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                 
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>

      </div>

 <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                     <!--Imagem-->                  
                    </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <!--Imagem-->                  
                  </figure>
                </div>
              </div>
        </div>

      </div>

      \
      
    </section>





</section>
    {{>partials/footer}}
    {{>partials/end}}