{{>partials/beggin}}

    <div class="columns dashboard">
        <aside class="column is-one-fifth menu">

            <div class="navbar-brand logo">
                <a class="menu-label" href="/">
                  <img src="/img/logo.jpg"alt="Painel de Controle">
                </a>
            
            </div>

            <p class="menu-label">
                Painel de Controle
            </p>
            <ul class="menu-list">
              <li><a href="team">
                <span class="icon">
                    <i class="fas fa-address-card"></i>
                  </span>
                  Colaboradores</a></li>
              <li><a href="galery">
                <span class="icon">
                    <i class="fas fa-image"></i>
                  </span>
                  Galeria</a></li>
              <li><a href="portal">
                <span class="icon">
                    <i class="fas fa-rss"></i>
                  </span>
                  Portal</a></li>
            </ul>
                
        </aside>

        <div class="column dash-content">
          {{>partials/navdash}}



              <div class="section is-small">
                  <div class="content">
                    <p class="title">Painel de Controle</p>
                  </div>
                 
        
              <div class="box scroll">

              </div>
              </div>

        </div>
    </div>

{{>partials/end}}
