<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <!--<link href="style/bootstrap-grid.min.css" rel="stylesheet"/>-->
        <!--<link href="style/bootstrap.min.css" rel="stylesheet"/>-->
        <link href="style/bulma.min.css" rel="stylesheet"/>
        <link href="style/bulmasocial.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

        <link href="style/main.css" rel="stylesheet"/>


        
    </head>


    <header class="container">


        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-item">
                <a class="navbar-item" href="/">
                    <strong>Logo</strong>
                </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          </nav>

    </header>

          <div class="container">
                <section class="section is-medium">


                    <div class="columns">
                        <div class="column is-two-fifths">
                            
                    <h1 class="title login-t">Entrar</h1>
                    <h2 class="subtitle is-6 login-t">Esqueceu sua senha? <a href="#">Clique aqui</a></h2>

                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input class="input" type="email" placeholder="Email">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" type="password" placeholder="Password">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control ">
                          <button class="button login-b is-primary">
                            Login
                          </button>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control ">
                          <button class="button login-b">
                            Cadastrar
                          </button>
                        </p>
                      </div>
                        </div>
                        <div class="column card-image"></div>
                    </div>



                </section>
            </div>
            
           

          </div>
          
 
{{>partials/footer}}