{{>partials/header}}

<section class="container">

    <div class="section is-medium">
        <div class="columns">
            <div class="column is-two-fifths">
            Gif
            </div>
            
            <div class="column">
                
                    <div class="card">
                        <div class="card-content">
                          <div class="content">

                            <h1 class="title">Fazer uma doação</h1>
                            <p class="is-6">Selecione um valor para doar:</p>

                            <form action="#" method="get">


                            <div class="field is-grouped is-grouped-multiline">
                                <p class="control">
                                  <a class="button">
                                    +R$20
                                  </a>
                                </p>
                                <p class="control">
                                  <a class="button">
                                    +R$40
                                  </a>
                                </p>
                                <p class="control">
                                  <a class="button">
                                    +R$60
                                  </a>
                                </p>
                                <p class="control">
                                  <a class="button">
                                    +R$80
                                  </a>
                                </p>
                                <p class="control">
                                    <a class="button">
                                        +R$100
                                    </a>
                                  </p>

                               
                              </div>



                            <div class="field has-addons">
                                <p class="control">
                                  <span class="select">
                                    <select>
                                      <option>R$</option>

                                    </select>
                                  </span>
                                </p>
                                <p class="control">
                                  <input class="input" type="number" placeholder="Insira um valor">
                                </p>
                                <p class="control">
                                  <a class="button is-primary">
                                    Enviar
                                  </a>
                                </p>
                              </div>
                            </form>
                            <div class="field">
                                <div class="control">
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    I agree to the <a href="#">terms and conditions</a>
                                  </label>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>

{{>partials/footer}}