<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
         
          <title>Painel de Controle</title>
          
          
        <!--<link href="style/bootstrap-grid.min.css" rel="stylesheet"/>-->
        <!--<link href="style/bootstrap.min.css" rel="stylesheet"/>-->
        <link href="/style/bulma.min.css" rel="stylesheet"/>
        <link href="/style/bulmasocial.min.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"  rel="stylesheet">

        <link href="/style/main.css" rel="stylesheet"/>


        
    </head>
    <body>