<footer class="footer">
  <div class="has-text-centered">

    <div class="columns">

      <div class="column">
        <a class="navbar-item" href="#">
          <img src="img/logo.jpg">
        </a>
      
      </div>


        <div class="column">

          <a class="button is-white">
            Um
          </a>
          <a class="button is-white">
            Dois
          </a>
          <a class="button is-white">
            Três
          </a>
          <a class="button is-white">
            Quatro
          </a>
          <a class="button is-white">
            Cinco
          </a>
       
        </div>



        <div class="column">


            <a class="button is-medium is-facebook-dark is-rounded">
              <span class="icon">
                <i class="fab fa-facebook fa-lg"></i>
              </span>
            </a>

            <a class="button is-medium is-instagram-dark is-rounded">
              <span class="icon">
                <i class="fab fa-instagram fa-lg"></i>
              </span>
            </a>

            <a class="button is-medium is-twitter-dark is-rounded">
              <span class="icon">
                <i class="fab fa-twitter fa-lg"></i>
              </span>
            </a>

            <a class="button is-medium is-linkedin-dark is-rounded">
              <span class="icon">
                <i class="fab fa-linkedin fa-lg"></i>
              </span>
            </a>


      </div>

    </div>
    <hr>



    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Copyright ® 2022 - Todos os direitos reservados</a></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Termos de Serviço</a></li>
      </ul>
    </nav>

   </div>
 
  </footer>

