    <header>
      <nav class="navbar navl" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1>Logo</h1>
          </a>
        </div>
      </nav>
    </header>