<section class="cotainer-fluid background-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <a href="#">link</a>
                <a href="#">link</a>
                <a href="#">link</a>
                <a href="#">link</a>
            </div>
            <div class="col-3">
                <img src="" alt="logo"/>
            </div>
            <div class="col-4">
            <button>Button</button>
            </div>
        </div>
    </div>
</section>