<nav class="navbar" role="navigation" aria-label="main navigation">

              
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item">
        </a>
  
        <div>

        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Minha conta
                </a>
            
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Meus dados
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">

                        Logout

                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
    
  </nav>